html,
body {
	font-family: Roboto;
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
}

header {
	background: #364f6b;
	color: #f5f5f5;
	display: flex;
	padding: 0 5px;
	justify-content: center;
	align-items: center;
	height: 100px;
}

a {
	color: black;
	text-decoration: none;
}

.container {
	background: #3fc1c9;
	padding: 20px 0;
	min-height: calc(100vh - 100px - 40px);
}

@media (max-width: 960px) {
	.MuiGrid-spacing-xs-3 {
		width: auto !important;
		margin: 0 !important;
	}
}

.MuiCircularProgress-root {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.MuiTypography-body2 {
	line-height: 2 !important;
}

.MuiCardContent-root {
	min-height: 250px;
	display: flex;
	flex-direction: column;
}

.MuiCardContent-root > h2 {
	margin: auto;
}

.MuiCardContent-root > p {
	margin-top: auto;
}
